@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 173, 216, 230;
  --background-end-rgb: 173, 216, 230;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* background-color: rgb(10, 53, 117); */
  background-image: url("../public/BG.png");
  /* background-repeat: repeat; */
  background-size: cover;
  /* height: max-content;
  width: max-content; */
  /* background-position: right; */
  /* transform: rotate(180deg); */
}
